---
import MainLayout from "../../layouts/MainLayout.astro";
import { getEntry } from "astro:content";
import { formatDate } from "../../utils";
import Tags from "../../components/Tags.astro";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Article not found");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout>
  <article>
    <a
      href="/articles"
      class="mb-6 inline-block bg-gray-100 p-2 hover:bg-indigo-500 hover:text-white"
      >Back To Articles</a
    >

    <h1 class="mb-2 text-4xl font-bold">
      {entry.data.title}
    </h1>
    <h3 class="mb-2 text-lg">
      Written by {entry.data.author} on {formatDate(entry.data.pubDate)}
    </h3>

    <Tags tags={entry.data.tags} />

    <img
      src={"/images/" + entry.data.image}
      alt="Article Image"
      class="my-6 h-auto w-full rounded-xl"
    />

    <Content />
  </article>
</MainLayout>

<style is:global>
  p {
    margin: 20px 0;
  }

  h2 {
    margin: 20px 0;
    font-size: 1.8rem;
  }
</style>
