---
import "./src/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
      integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <!-- <link rel="stylesheet" href="/src/styles/global.css" /> -->
    <title>Tech People Blog</title>
  </head>
  <body class="">
    <nav class="bg-gray-900 text-white">
      <div
        class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
      >
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="images/logo.png" class="h-14" alt="TechPeople Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap">
            <span class="text-indigo-400">Tech</span>People
          </span>
        </a>
        <button
          data-collapse-toggle="navbar-default"
          type="button"
          class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:ring-2 focus:ring-gray-200 focus:outline-none md:hidden"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-5 w-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"></path>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
            class="mt-4 flex flex-col rounded-lg border border-gray-700 p-4 font-medium text-white md:mt-0 md:flex-row md:space-x-8 md:border-0 md:p-0 rtl:space-x-reverse"
          >
            <li>
              <a
                href="index.html"
                class="block rounded px-3 py-2 text-white hover:text-indigo-400 md:p-0"
                aria-current="page">Home</a
              >
            </li>
            <li>
              <a
                href="articles.html"
                class="block rounded px-3 py-2 text-white hover:text-indigo-400 md:p-0"
                >All Articles</a
              >
            </li>
            <li>
              <a
                href="about.html"
                class="block rounded px-3 py-2 text-white hover:text-indigo-400 md:p-0"
                >About</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="container mx-auto mt-10 max-w-screen-xl px-8">
      <!-- Top Grid -->
      <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
        <div>
          <h1 class="mt-4 mb-8 text-5xl leading-tight font-bold xl:text-6xl">
            Articles, Stories & Tutorials for Tech People
          </h1>

          <form id="search-form" class="flex items-center">
            <label for="search-input" class="sr-only">Search</label>
            <div class="relative w-full">
              <input
                type="text"
                id="query"
                name="query"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-indigo-500 focus:ring-indigo-500"
                placeholder="Search articles..."
                required
              />
            </div>
            <button
              type="submit"
              class="ms-2 rounded-lg border border-indigo-700 bg-indigo-700 p-2.5 text-sm font-medium text-white hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 focus:outline-none"
            >
              <svg
                class="h-4 w-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
              </svg>
              <span class="sr-only">Search</span>
            </button>
          </form>
        </div>
        <!-- Most Recent Article -->
        <div
          class="relative inline-block w-full cursor-pointer rounded-2xl sm:w-auto"
        >
          <a href="article.html">
            <img
              src="images/image1.png"
              alt="Article Image"
              class="h-auto w-full rounded-2xl"
            />

            <div
              class="absolute inset-0 flex flex-col items-center justify-center rounded-2xl bg-black text-center text-white opacity-80 transition duration-300 ease-in-out hover:opacity-75"
            >
              <div>
                <h2 class="text-2xl font-semibold sm:text-3xl">
                  The best laptops for developers in 2024
                </h2>
                <p class="mt-4 text-xl">January 20, 2024</p>

                <!-- Tags with rounded border -->
                <div class="mt-4 flex justify-center">
                  <span
                    class="mr-2 rounded-full border px-2 py-1 text-xs text-white"
                    >Tech</span
                  >
                  <span
                    class="mr-2 rounded-full border px-2 py-1 text-xs text-white"
                    >Hardware</span
                  >
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- Main Grid -->
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        <!-- Article Card -->
        <div class="mx-auto mt-10 max-w-md">
          <div class="overflow-hidden rounded-lg bg-white shadow-lg">
            <a href="article.html">
              <img
                src="images/image2.png"
                alt="Article Image"
                class="h-48 w-full object-cover transition duration-300 ease-in-out hover:opacity-75"
              />
            </a>
            <div class="p-6">
              <h2 class="mb-2 text-2xl font-semibold">
                <a href="article.html">
                  Guardian of the Digital Realm: Web Security
                </a>
              </h2>
              <p class="mb-4 text-sm text-gray-600">January 19, 2024</p>
              <div class="flex flex-wrap gap-2">
                <span
                  class="rounded-full bg-blue-500 px-2 py-1 text-xs text-white hover:opacity-90"
                  ><a href="">Code</a></span
                >
                <span
                  class="rounded-full bg-purple-500 px-2 py-1 text-xs text-white hover:opacity-90"
                  ><a href="#">Software</a></span
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Article Card -->
        <div class="mx-auto mt-10 max-w-md">
          <div class="overflow-hidden rounded-lg bg-white shadow-lg">
            <a href="article.html">
              <img
                src="images/image3.png"
                alt="Article Image"
                class="h-48 w-full object-cover transition duration-300 ease-in-out hover:opacity-75"
              />
            </a>
            <div class="p-6">
              <h2 class="mb-2 text-2xl font-semibold">
                <a href="article.html">
                  Immerse in the Virtual World: VR Development
                </a>
              </h2>
              <p class="mb-4 text-sm text-gray-600">January 18, 2024</p>
              <div class="flex flex-wrap gap-2">
                <span
                  class="rounded-full bg-blue-500 px-2 py-1 text-xs text-white hover:opacity-90"
                  ><a href="">VR</a></span
                >
                <span
                  class="rounded-full bg-purple-500 px-2 py-1 text-xs text-white hover:opacity-90"
                  ><a href="#">Tech</a></span
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Article Card -->
        <div class="mx-auto mt-10 max-w-md">
          <div class="overflow-hidden rounded-lg bg-white shadow-lg">
            <a href="article.html">
              <img
                src="images/image4.png"
                alt="Article Image"
                class="h-48 w-full object-cover transition duration-300 ease-in-out hover:opacity-75"
              />
            </a>
            <div class="p-6">
              <h2 class="mb-2 text-2xl font-semibold">
                <a href="article.html">
                  Elevate Your Mobile Experience with Samsung
                </a>
              </h2>
              <p class="mb-4 text-sm text-gray-600">January 17, 2024</p>
              <div class="flex flex-wrap gap-2">
                <span
                  class="rounded-full bg-blue-500 px-2 py-1 text-xs text-white hover:opacity-90"
                  ><a href="">Smartphones</a></span
                >
                <span
                  class="rounded-full bg-purple-500 px-2 py-1 text-xs text-white hover:opacity-90"
                  ><a href="#">Samsung</a></span
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Article Card -->
        <div class="mx-auto mt-10 max-w-md">
          <div class="overflow-hidden rounded-lg bg-white shadow-lg">
            <a href="article.html">
              <img
                src="images/image5.png"
                alt="Article Image"
                class="h-48 w-full object-cover transition duration-300 ease-in-out hover:opacity-75"
              />
            </a>
            <div class="p-6">
              <h2 class="mb-2 text-2xl font-semibold">
                <a href="article.html">
                  Soaring to New Heights: The World of Drones</a
                >
              </h2>
              <p class="mb-4 text-sm text-gray-600">January 16, 2024</p>
              <div class="flex flex-wrap gap-2">
                <span
                  class="rounded-full bg-blue-500 px-2 py-1 text-xs text-white hover:opacity-90"
                  ><a href="">Drones</a></span
                >
                <span
                  class="rounded-full bg-purple-500 px-2 py-1 text-xs text-white hover:opacity-90"
                  ><a href="#">Tech</a></span
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Article Card -->
        <div class="mx-auto mt-10 max-w-md">
          <div class="overflow-hidden rounded-lg bg-white shadow-lg">
            <a href="article.html">
              <img
                src="images/image6.png"
                alt="Article Image"
                class="h-48 w-full object-cover transition duration-300 ease-in-out hover:opacity-75"
              />
            </a>
            <div class="p-6">
              <h2 class="mb-2 text-2xl font-semibold">
                <a href="article.html">
                  Capturing Life's Moments with Canon Excellence</a
                >
              </h2>
              <p class="mb-4 text-sm text-gray-600">January 14, 2024</p>
              <div class="flex flex-wrap gap-2">
                <span
                  class="rounded-full bg-blue-500 px-2 py-1 text-xs text-white hover:opacity-90"
                  ><a href="">Cameras</a></span
                >
                <span
                  class="rounded-full bg-purple-500 px-2 py-1 text-xs text-white hover:opacity-90"
                  ><a href="#">Gadgets</a></span
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Article Card -->
        <div class="mx-auto mt-10 max-w-md">
          <div class="overflow-hidden rounded-lg bg-white shadow-lg">
            <a href="article.html">
              <img
                src="images/image7.png"
                alt="Article Image"
                class="h-48 w-full object-cover transition duration-300 ease-in-out hover:opacity-75"
              />
            </a>
            <div class="p-6">
              <h2 class="mb-2 text-2xl font-semibold">
                <a href="article.html">
                  Unleash Creativity With These Cutting-Edge Tablets</a
                >
              </h2>
              <p class="mb-4 text-sm text-gray-600">January 13, 2024</p>
              <div class="flex flex-wrap gap-2">
                <span
                  class="rounded-full bg-blue-500 px-2 py-1 text-xs text-white hover:opacity-90"
                  ><a href="">Gadgets</a></span
                >
                <span
                  class="rounded-full bg-purple-500 px-2 py-1 text-xs text-white hover:opacity-90"
                  ><a href="#">Tablets</a></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-indigo-900 text-white">
      <div class="container mx-auto mt-10 max-w-screen-xl px-8">
        <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-4">
          <div class="mt-10">
            <h3 class="mb-4 text-xl font-semibold">About</h3>
            <p class="text-sm text-white">
              TechPeople is a blog for tech enthusiasts. We publish articles,
              stories and tutorials about the latest technology trends and
              advancements.
            </p>
          </div>
          <div class="mt-10">
            <h3 class="mb-4 text-xl font-semibold">Categories</h3>
            <ul class="text-sm text-white">
              <li class="mb-2">
                <a href="#">Tech</a>
              </li>
              <li class="mb-2">
                <a href="#">Programming</a>
              </li>
              <li class="mb-2">
                <a href="#">Gadgets</a>
              </li>
              <li class="mb-2">
                <a href="#">Hardware</a>
              </li>
              <li class="mb-2">
                <a href="#">Software</a>
              </li>
              <li class="mb-2">
                <a href="#">VR</a>
              </li>
              <li class="mb-2">
                <a href="#">Smartphones</a>
              </li>
              <li class="mb-2">
                <a href="#">Cameras</a>
              </li>
              <li class="mb-2">
                <a href="#">Drones</a>
              </li>
            </ul>
          </div>
          <div class="mt-10">
            <h3 class="mb-4 text-xl font-semibold">Contact</h3>
            <ul class="text-sm text-white">
              <li class="mb-2">
                <a href="#">Email</a>
              </li>
              <li class="mb-2">
                <a href="#">Twitter</a>
              </li>
              <li class="mb-2">
                <a href="#">Facebook</a>
              </li>
              <li class="mb-2">
                <a href="#">Instagram</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
