---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../pages/constants";

// const title = Astro.props.title ? Astro.props.title : "Tech People Blog";
const { title = "Articles, Stories & Tutorials For Tech People" } = Astro.props;

interface Props {
  title?: string;
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/images/logo.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
      integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <!-- <link rel="stylesheet" href="/src/styles/global.css" /> -->
    <title>{SITE_TITLE} - {title}</title>
  </head>
  <body class="">
    <Navbar />

    <section class="container mx-auto mt-10 min-h-screen max-w-screen-xl px-8">
      <slot />
    </section>

    <Footer />
  </body>
</html>
